.loading-cat
  .cat-body
  .cat-animation-mask
  .cat-head
    .cat-face
    .cat-ear
    .cat-hand
    .cat-eye
    .cat-eye-light
    .cat-mouth
    .cat-beard.left
    .cat-beard.right
  .cat-foot
    .cat-belly
    .cat-leg
    .cat-tail
  
blockquote Inspired from <a href="https://dribbble.com/domaso">domaso</a>'s dribbble: <a href="https://dribbble.com/shots/3197970-Loading-cat">Loading cat</a>